<div class="container">
    <div class="row">
        <div class="col s6 push-s4">
            <h1>404</h1>
            <h4>OOOPS! PAGE NOT FOUND</h4>
            <a href="/">Go to Courses App</a>
        </div>
    </div>
</div>