<div class="parallax-container">
      <div class="parallax"><img src="https://res.cloudinary.com/practicaldev/image/fetch/s--l-Gxsagx--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://thepracticaldev.s3.amazonaws.com/i/1amer2k9l9qtpguowryd.png"></div>
</div>

<div class="row">
  <div class="col s4">
    <h1 class="center-align">Courses</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae alias labore unde distinctio, aliquid sequi, id voluptas quia exercitationem quam ratione ullam tempora a inventore, reiciendis maiores repellendus illo nam?</p>
  </div>
  <div class="col s4">
    <h1 class="center-align">Examples</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem amet ad, dolore error magni molestiae sed, laudantium, suscipit ratione dignissimos magnam cumque maxime nostrum mollitia in cum commodi aut earum.</p>
  </div>
  <div class="col s4">
    <h1 class="center-align">Helpers</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio vel voluptatibus tempore qui eum voluptate corrupti accusantium iure, ea blanditiis quidem similique delectus placeat obcaecati! Praesentium eaque perspiciatis totam vitae?</p>
  </div>
</div>

<div class="parallax-container">
      <div class="parallax"><img src="https://miro.medium.com/max/3440/1*i_Vj3gs7QO9fjcxELK2c2g.png"></div>
</div>

<div class="row">
  <div class="col s4">
    <h1>Courses</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae alias labore unde distinctio, aliquid sequi, id voluptas quia exercitationem quam ratione ullam tempora a inventore, reiciendis maiores repellendus illo nam?</p>
  </div>
  <div class="col s4">
    <h1>Examples</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem amet ad, dolore error magni molestiae sed, laudantium, suscipit ratione dignissimos magnam cumque maxime nostrum mollitia in cum commodi aut earum.</p>
  </div>
  <div class="col s4">
    <h1>Helpers</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio vel voluptatibus tempore qui eum voluptate corrupti accusantium iure, ea blanditiis quidem similique delectus placeat obcaecati! Praesentium eaque perspiciatis totam vitae?</p>
  </div>
</div>

<div class="parallax-container">
      <div class="parallax"><img src="https://images.idgesg.net/images/article/2018/04/iwan_05-100755063-orig.jpg"></div>
</div>